@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap');
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(194, 194, 194);
    box-shadow: 1px 1px 1px 2px bisque;
    align-items: center;
}
body{
    margin: 0;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 600;
}
nav li{
    margin-left: 1.5rem;
    margin-right: 1rem;
}
nav li a{
    padding: 12px 12px
}
nav li a:hover{
    border-radius: 5px;

        overflow: hidden;     
    background-color: rgb(255, 204, 0);
}

nav a{
    text-decoration: none;
    color: black;
}
.brand label{
    font-weight: 800;
    font-size: 24px;
    color: brown;
    margin-left: 1rem;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: beige;
}



.hero-news {
    margin: 1rem 2rem;
    display: flex;
}

.rightsection {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

}

.v-cards {
    margin-top: 2rem;
}

.big-news {
    position: relative;
    text-align: left;
    color: rgb(244, 120, 120);
}

.big-news img {
    width: 500px;
    height: 650px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-family: 'Inter', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.ad-section1 img {
    width: 100%;
    height: 250px;
}

.ad-section1 {
    position: relative;
    text-align: left;
    box-shadow: 2px 3px #cac6c6;

}

.ad-section1 span {
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-family: 'Shantell Sans', cursive;
    font-size: 16pt;
    background-color: #dddddd8f;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.v-cards {
    display: flex;
    flex: row;
}

.v-cards {
    background-color: #dadada74;
    box-shadow: 0 1px 8px #ddd;

}

.vcardimg img {
    width: 200px;
    height: 150px;
}

.vcardtext {
    margin-left: 0.5rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18pt;
    color: rgb(32, 29, 25);
}
.sectiondivision{
    display: flex;
    flex-direction: row;
    
}
.sectioninfo h2{
    margin-left: 2rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
  .card {
    width: 290px;
    margin-bottom: 1rem;
    flex: 0 0 260px;
    margin-left: 2rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card img {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }
  .card .text {
    padding: 0 10px 10px;
    color: blue;
    
  }
  .card .info{
    flex-wrap: wrap-reverse;
  }
  .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
