{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css %}
    {% endblock %}
    <title>{% block title %}SP News{% endblock %}</title>
</head>

<body>

    <header>
        <nav class="navcontainer">

            <div class="brandname">
                <label class="brandname"><a href="{% url 'index' %}">SP News</a></label>
            </div>
            <div class="brand">
                <label class="brand"><a href="{% url 'index' %}">SP News</a></label>
            </div>
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

                <ul class="nav-list">
                <li><a href="{% url 'commingsoon' %}">राजकारण</a></li>
                <li><a href="{% url 'commingsoon' %}">शिक्षण</a></li>
                <li><a href="{% url 'commingsoon' %}">राष्ट्र</a></li>
                <li><a href="{% url 'commingsoon' %}">राज्य</a></li>
            </ul>

        </nav>
    </header>
    <script src="{% static 'js/script.js' %}"></script>
    {% block content %}
</body>

</html>
{% endblock %}