{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css %}
    {% endblock %}
    <title>{% block title %}SP News{% endblock %}</title>
</head>

<body>

    <header>
        <nav>
            <div class="brand">
                <label for="brand-label"><a href= "{% url 'index' %}">SP News</a></label>
            </div>
            <div class="nav-items">
                <ul>
                    <li><a href= "{% url 'commingsoon' %}">राजकारण</a></li>
                    <li><a href="{% url 'commingsoon' %}">शिक्षण</a></li>
                    <li><a href="{% url 'commingsoon' %}">राष्ट्र</a></li>
                    <li><a href="{% url 'commingsoon' %}">राज्य</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
</body>
</html>
{% endblock %}