{% extends 'base.html' %}

{% block content %}

<section class="hero-news">

    <div class="big-news">
        <img src="assets/bignews.jpg">
        <div class="bottom-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum provident
            dolores suscipit laborum aliquam quod ratione. Fugiat laborum, rerum minima quaerat quia harum
            tenetur cum sed fuga obcaecati dicta quam.</div>
    </div>
    <div class="rightsection">
        <div class="ad-section1" style ">
  <img src=" assets/ad1.jpg">
            <div class="centered"><span>जाहिरातीसाठी संपर्क करा +91 6745237890</span></div>
        </div>
        <div class="v-cards">
            <div class="vcardimg">
                <img src="assets/vcard1.jpg" alt="image">
            </div>
            <div class="vcardtext">
                एक उंदराचे पिटुकले पिल्लु पाहिल्यांदा आपल्या बिळातून बाहेर पडले होते, ते थोडा वेळ इकडेतिकडे
                फिरून पुनः बिळात गेल्यावर आपल्या आईस म्हणते, ‘आई, ज्या या लहानशा जागेत तू मला लहानाचे मोठे
                केलेस, ती जागा सोडून आज मी अंमळ बाहेर जाऊन आले; तेथे मी जी मौज पाहिली, ती काही विलक्षणच.
            </div>
        </div>
        <div class="v-cards">
            <div class="vcardimg">
                <img src="assets/vcard1.jpg" alt="image">
            </div>
            <div class="vcardtext">
                एक उंदराचे पिटुकले पिल्लु पाहिल्यांदा आपल्या बिळातून बाहेर पडले होते, ते थोडा वेळ इकडेतिकडे
                फिरून पुनः बिळात गेल्यावर आपल्या आईस म्हणते, ‘आई, ज्या या लहानशा जागेत तू मला लहानाचे मोठे
                केलेस, ती जागासोडून आज मी अंमळ बाहेर जाऊन आले; तेथे मी जी मौज पाहिली, ती काही विलक्षणच.
            </div>
        </div>
    </div>
</section>
<!-- ! Cards section  -->

<label class="sectioninfo">
    <h2>Section 1</h2>
</label>


<Section class="card-holder">
    {% for obj in newnews %}
    <div class="card">
        <a href="{%url 'news' obj.id%}"><img src="media/{{obj.newsthumbnail}}" alt="">
            <h3>{{obj.newstitle}}</h3></a>
            <div class="cardinfo">
                <span>{{obj.newsauthor}}</span>
                <span>{{obj.newstime}}</span>
            </div>
        
    </div>
    {% endfor %}
</Section>

</main>
<footer>
    <div>
        <label for="footerSection">@2023 | SP News All Rights Reserved with Copyright & TradeMarks</label>
    </div>


    </html>
    {% endblock %}