{% extends 'base.html' %}

{% block content %}

<section class="hero-news">
    <div class="big-news">
        {% if hero %}
        <a href="{%url 'herosection' hero.id%}">
        <img src="media/{{hero.bignewsimage}}">
        <div class="bottom-left">
            <h4>{{hero.bignewshedding}}</h4>
            <h4>{{hero.bignewshedding}}</h4>
        </div>
        {% endif %}
    </div></a>
    <div class="rightsection">
        {% if newnews %}
        <div class="ad-section1" style ">
            <img src="media/{{newnews.heroad}}">
            <div class="centered"><span>जाहिरात,वाढदिवस,शुभेच्छा, बातम्यासाठी SP NEWS ७२१८४८७६७६
            </span></div>
        </div>
        {% endif %}

        {% for nhobj in NHero %}
        <div class="v-cards">
            <div class="vcardimg">
                <a href="{%url 'herosectioncard' nhobj.id%}">
                <img src="media/{{nhobj.sidecard1image}}" alt="image">
            </div>
            <div class="vcardtext">
                {{nhobj.sidecard1hedding}}
           </div></a>
        </div>
        {% endfor %}
        
    </div>
</section>
<!-- ! Cards section  -->

<label class="sectioninfo">
    <h2>Section 1</h2>
</label>


<Section class="card-holder">
    {% for obj in newnews %}
    <div class="card">
        <a href="{%url 'news' obj.id%}"><img src="media/{{obj.newsthumbnail}}" alt="">
            <h3>{{obj.newstitle}}</h3>
        </a>
        <div class="cardinfo">
            <span>{{obj.newsauthor}}</span>
            <span>{{obj.newstime}}</span>
        </div>

    </div>
    {% endfor %}
</Section>

</main>
<footer>
    <div>
        <label for="footerSection">@2023 | SP News All Rights Reserved with Copyright & TradeMarks</label>
    </div>


    </html>
    {% endblock %}