{% extends 'base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<meta property="og:image" content="https://picsum.photos/id/237/200/300">
<meta property="og:image" content="https://picsum.photos/id/237/200/300">
{% endblock %}


{% block content %}
<main>
    <div class="datetime"></div>
    <div class="headding"></div>
    <div class="thumbnail"></div>
    <div class="para1"></div>
    <div class="para2"></div>
    <div class="had"></div>
    <div class="vad1"></div>
    <div class="vad2"></div>
</main>
{% endblock %}